@import './layout';
@import './map';
@import './card';
@import './dialog';

:root {
  --font-size-lg: clamp(2rem, 2vw, 3rem);
  --font-size-md: clamp(1.5rem, 2vw, 1.6rem);
  --font-size-sm: clamp(1rem, 2vw, 1.2rem);
  --font-size-xs: clamp(0.8rem, 2vw, 1rem);

  --map-size-lg: clamp(200px, 100vw, 517px);
}

body {
  margin: 0;
  background-color: #f8f8f8;
}

div {
  box-sizing: border-box;
}

.h1 {
  margin: 0;
  font-size: var(--font-size-lg);
}

.h2 {
  margin: 0;
  font-size: var(--font-size-md);
}

.p1 {
  font-size: var(--font-size-sm);
}

.p2 {
  font-size: var(--font-size-xs);
}

.a {
  font-size: var(--font-size-sm);
  text-decoration: none;
}

.label {
  min-width: fit-content;
}

.fa-disabled {
  opacity: 0.2;
  pointer-events: none;
}
.fa-actived {
  cursor: pointer;
  color: #1e3050;
}

input,
textarea {
  margin-left: 1.5rem;
}
