@import './layout';
@import './map';
@import './card';
@import './dialog';
@import './element';

:root {
  --font-size-lg: clamp(2rem, 2vw, 3rem);
  --font-size-md: clamp(1.5rem, 2vw, 1.6rem);
  --font-size-sm: clamp(1rem, 2vw, 1.2rem);
  --font-size-xs: clamp(0.8rem, 2vw, 1rem);

  --map-size-lg: clamp(200px, 100vw, 517px);
}

body {
  margin: 0;
  background-color: #f8f8f8;
}

div {
  box-sizing: border-box;
}

.h1 {
  margin: 0;
  font-size: var(--font-size-lg);
}

.h2 {
  margin: 0;
  font-size: var(--font-size-md);
}

.p1 {
  font-size: var(--font-size-sm);
}

.p2 {
  font-size: var(--font-size-xs);
}

.a {
  font-size: var(--font-size-sm);
  text-decoration: none;
}

.label {
  min-width: fit-content;
  margin-right: 1.5rem;
}

.fa-disabled {
  opacity: 0.2;
  pointer-events: none;
}
.fa-actived {
  cursor: pointer;
  color: #1e3050;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
