.detail-container {
  width: 100%;
  max-width: 1250px;
}

.meta-info,
.detail-contents {
  margin-top: 1rem;
  background-color: white;
  padding: 1rem;
  box-shadow: 1px 1px 3px 1px #dadce0;
  border-radius: 8px;

  div {
    margin: 1rem 0;
  }
  pre {
    max-width: 700px;
    white-space: break-spaces;
  }
}

.meta-info {
  background-color: lavender;
  display: flex;
  align-items: center;

  > span {
    display: flex;
    align-items: center;

    > p,
    img {
      margin-right: 0.5rem;
    }
  }
}

.detail-expense {
  margin-top: 0.5rem;
  border-top: 1rem solid #1e3050;
  background-color: white;
  padding: 1rem;
  box-shadow: 1px 1px 3px 1px #dadce0;
  border-radius: 8px;
  .form-container {
    position: relative;
    .input-container {
      display: flex;
      margin: 1rem 0;
      align-items: baseline;
    }
    .submit-container {
      position: absolute;
      top: -1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;

      > div {
        display: flex;
        align-items: center;
      }
    }
  }
}
ul {
  li.expense-list:first-child {
  }

  li.expense-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    > div {
      display: flex;
      align-items: center;
      margin: 0;
      .profile {
        margin-right: 0.5rem;
      }
    }

    > p,
    div {
      width: 25%;
    }

    label {
      margin-top: 1rem;
      font-weight: 600;
      width: 25%;
      position: relative;
      &::after {
        content: '';
        margin-top: 0.5rem;
        border-bottom: 1px solid #1e305032;
        width: 90%;
        display: block;
      }
    }
  }
}
