.detail-container {
  width: 100%;
  max-width: 1250px;
}

.meta-info,
.detail-contents {
  margin-top: 1rem;
  background-color: white;
  padding: 1rem;
  box-shadow: 1px 1px 3px 1px #dadce0;
  border-radius: 8px;
  overflow-y: auto;
  ul {
    max-height: 20rem;
    position: relative;
  }
  &.disabled {
    background-color: #cccccc;
    text-align: center;
  }

  pre {
    max-width: 700px;
    white-space: break-spaces;
  }
}

.meta-info {
  background-color: lavender;
  display: flex;
  align-items: center;

  > span {
    display: flex;
    align-items: center;

    > p,
    img {
      margin-right: 0.5rem;
    }
  }
}

.detail-expense {
  margin-top: 0.5rem;
  border-top: 1rem solid #1e3050;
  background-color: white;
  padding: 1rem;
  box-shadow: 1px 1px 3px 1px #dadce0;
  border-radius: 8px;
  .form-container {
    position: relative;
    .input-container {
      display: flex;
      margin: 1rem 0;
      align-items: baseline;
    }
    .submit-container {
      position: absolute;
      top: -1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;

      > div {
        display: flex;
        align-items: center;
      }
    }
  }
}

ul {
  li.expense-list {
    &.mobile {
      > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        > span {
          min-inline-size: fit-content;
        }
      }
      > div {
        width: 25%;
      }
      > pre {
        width: 50%;
      }
      > label {
        &.writer {
          width: 25%;
        }
        &.headcount-price {
          width: 25%;
        }
        &.menu {
          width: 50%;
        }
      }
    }

    &:first-of-type {
      position: sticky;
      top: 0;
      background-color: white;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:first-of-type) {
      margin-top: 1rem;
    }

    > div {
      display: flex;
      align-items: center;
      margin: 0;
      .profile {
        margin-right: 0.5rem;
      }
      > span {
        min-inline-size: fit-content;
      }
    }

    > p,
    pre,
    div {
      width: 25%;
    }

    label {
      margin-top: 1rem;
      font-weight: 600;
      width: 25%;
      position: relative;
      &::after {
        content: '';
        margin-top: 0.5rem;
        border-bottom: 1px solid #1e305032;
        width: 90%;
        display: block;
      }
    }
  }
}

ul {
  li.review-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;

    &.mobile {
      justify-content: flex-start;
      align-items: baseline;
      flex-direction: column;
    }

    > div {
      display: flex;
      align-items: center;
      margin: 0;

      .profile {
        margin-right: 0.5rem;
      }
      > span {
        min-inline-size: fit-content;
      }
      > pre {
        max-width: 24rem;
      }
    }

    label {
      margin-top: 1rem;
      font-weight: 600;
      width: 25%;
      position: relative;
      &::after {
        content: '';
        margin-top: 0.5rem;
        border-bottom: 1px solid #1e305032;
        width: 90%;
        display: block;
      }
    }
  }
}
